<div class="container" style="background-color: #545454">
  <div class="logo-container">
    <img class="logo-image" src="../../../../../assets/images/logos/logo2.png" alt="Logo" />
    <h1 class="display-2">JUEGOS</h1>
  </div>

  <div class="container-images">
    <app-carrousel></app-carrousel>
  </div>

  <div class="carousel">
    <h6>EXPLORAR POR CATEGORÍA MAS DESTACADA</h6>

    <div class="block block-1">
      <!-- Primer bloque de imágenes -->
      <img src="../../../../../assets/images/categorias/accion.png" routerLink="/userstage/action"
        routerLinkActive="active" alt="Imagen 1" class="carousel-image" />
      <img src="../../../../../assets/images/categorias/carreras.jpg" routerLink="/userstage/carreras"
        routerLinkActive="active" alt="Imagen 2" class="carousel-image" />
      <img src="../../../../../assets/images/categorias/cooperativo.png" routerLink="/userstage/cooperativo"
        routerLinkActive="active" alt="Imagen 3" class="carousel-image" />
    </div>
    <div class="block block-2">
      <!-- Segundo bloque de imágenes -->
      <img src="../../../../../assets/images/categorias/terror.jpg" routerLink="/userstage/terror"
        routerLinkActive="active" alt="Imagen 4" class="carousel-image" />
      <img src="../../../../../assets/images/categorias/rol.jpg" routerLink="/userstage/rol" routerLinkActive="active"
        alt="Imagen 5" class="carousel-image" />
      <img src="../../../../../assets/images/categorias/supervivencia.png" routerLink="/userstage/supervivencia"
        routerLinkActive="active" alt="Imagen 6" class="carousel-image" />
    </div>
  </div>
</div>
