<app-header></app-header>
<div class="container" style="background-color: #545454; min-height: 200vh;">
  <div class="logo-container">
    <img class="logo-image" src="../../../../../assets/images/logoGris.png" alt="Logo" />
    <h1 class="display-2">JUEGOS</h1>
  </div>

  <app-carrousel></app-carrousel>
  <div class="container-icon">
    <h6 class="h6-1">OPCIONES DISPONIBLES : </h6>
    <img src="../../../../../assets/images/id.png" alt="idIcon" class="imageIcon" />
    <img src="../../../../../assets/images/wind.png" alt="Windows" class="imageIcon" />
    <img src="../../../../../assets/images/apple.png" alt="Apple" class="imageIcon" />
  </div>
  <div class="carousel">
    <h6>EXPLORAR POR CATEGORÍA MAS DESTACADA</h6>
    <div class="block block-1">
      <!-- Primer bloque de imágenes -->
      <img src="../../../../../assets/images/carreras.png" alt="Imagen 1" class="carousel-image" />
      <img src="../../../../../assets/images/rol.png" alt="Imagen 2" class="carousel-image" />
      <img src="../../../../../assets/images/cooperativos.png" alt="Imagen 3" class="carousel-image" />
    </div>
    <div class="block block-2">
      <!-- Segundo bloque de imágenes -->
      <img src="../../../../../assets/images/terror.png" alt="Imagen 4" class="carousel-image" />
      <img src="../../../../../assets/images/accion.png" alt="Imagen 5" class="carousel-image" />
      <img src="../../../../../assets/images/supervivencia.png" alt="Imagen 6" class="carousel-image" />
    </div>
  </div>
</div>