<footer class="text-center text-lg-start" style="background-color: #db6930; color: white;">
  <div class="container d-flex justify-content-center py-5">
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
      <img src="../../../../../assets/images/iconos/twitter.png">
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
      <img src="../../../../../assets/images/iconos/instagram.png">
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
      <img src="../../../../../assets/images/iconos/github.png">
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
      <img src="../../../../../assets/images/iconos/google.png">
    </button>
  </div>

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" href="https://game-verse-alejandro.netlify.app/">GameVerse</a>
  </div>
  <!-- Copyright -->
</footer>