<footer>
  <div class="container-fluid st">
    <div class="row p-5 text-white bg-dark">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <p class="h4 mt-5" style="text-align: center"></p>
        <p style="text-align: center">
          © 2024 GameVerse Corporation. Todos los derechos reservados. Todas las
          marcas registradas pertenecen a sus respectivos dueños en EE. UU. y
          otros países
        </p>
        <img src="../../../../../assets/images//logo.png" style="max-height: 120px; margin-left: 33%"
          alt="Logo enlace pagina inicial" />
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <h6 class="h4 mt-5" style="text-align: center">Redes sociales</h6>
        <div class="row">
          <div class="col-6">
            <img src="../../../../../assets/images//twitter.png" style="
                width: 15%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
              " />
          </div>
          <div class="col-6">
            <label>Síguenos en Twitter</label>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <img src="../../../../../assets/images//github.png" style="
                width: 15%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
              " />
          </div>
          <div class="col-6">
            <label>Síguenos en Github</label>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <img src="../../../../../assets/images//instagram.png" style="
                width: 15%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
              " />
          </div>
          <div class="col-6">
            <label>Síguenos en Instagram</label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <p class="h4 mt-5" style="text-align: center">Informacion Contactos</p>
        <div class="row">
          <div class="col-6">
            <img src=".../../../../../assets/images//casa.png" style="
                width: 15%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
              " />
          </div>
          <div class="col-6">
            <label>Catarroja, Valencia(ESPAÑA)</label>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <img src="../../../../../assets/images//telefono.png" style="
                width: 15%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
              " />
          </div>
          <div class="col-6">
            <label>640-802-608</label>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <img src="../../../../../assets/images/email.png" style="
                width: 15%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
              " />
          </div>
          <div class="col-6">
            <label>gameverse@gmail.com</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgb(232, 124, 24)">
    © 2024 Copyright:
    <a class="text-white" href="">GameVerse</a>
  </div>
</footer>