.logo-image {
  width: 100px;
  height: auto;
}

.dropdown-item {
  text-decoration: none;
  color: inherit;
  cursor: default;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #343a40;
  color: #fff;
  cursor: pointer;
}


.dropdown-menu-dark .dropdown-item:hover {
  background-color: #343a40;
  color: #fff;
  cursor: pointer;
}
