<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Cambiado de <a> a <img> para mostrar la imagen -->

    <img class="logo-image" src="../../../../../assets/images/logos/logo.png" alt="Logo">



    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Inicio</a>
        </li>
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            Categorias
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#" routerLink="/action" routerLinkActive="active">Acción</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/carreras" routerLinkActive="active">Carreras</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/cooperativo" routerLinkActive="active">Cooperativo</a>
            </li>
            <li><a class="dropdown-item" href="#" routerLink="/terror" routerLinkActive="active">Terror</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/rol" routerLinkActive="active">Rol</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/supervivencia"
                routerLinkActive="active">Supervivencia</a></li>
          </ul>





        </div>
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            Top 100
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" routerLink="/twoWeeks" routerLinkActive="active">Top 2 semanas</a></li>
            <li><a class="dropdown-item" routerLink="/forever" routerLinkActive="active">Top Forever</a></li>
            <li><a class="dropdown-item">Option 3</a></li>
          </ul>

        </div>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>