.logo-image {
  width: 100px;
  height: auto;
}

.dropdown-item {
  text-decoration: none;
  color: inherit;
  cursor: default;
  display: block;
  transition: background-color 0.3s;
}

/* Aplica el fondo cuando pasas el ratón sobre cualquier elemento del menú desplegable */
.dropdown:hover .dropdown-item {
  background-color: #343a40;
  color: #fff;
  cursor: pointer;
}

/* Aplica el fondo cuando pasas el ratón sobre el menú desplegable en sí */
.dropdown:hover {
  background-color: #343a40;
}

/* Aplica el fondo cuando haces clic en una opción de categoría o Top 100 */

.navbar-nav .nav-item {
  margin-right: 35px;
font-size: 20px;}
